services:
  indexer-service:
    image: indexer-base:latest
    build:
      context: ..
    container_name: indexer-service
    volumes:
      - ./local-network/config/local/tap-contracts.json:/opt/contracts.json:ro
      - ./local-network/config/local/horizon.json:/opt/horizon.json:ro
      - ./local-network/config/local/subgraph-service.json:/opt/subgraph-service.json:ro
      - ./local-network/.env:/opt/.env:ro
      - ./profiling:/opt/profiling:rw
      - ./indexer-service/start.sh:/usr/local/bin/start.sh
      - ../migrations:/opt/migrations:ro
      - ../target/release/indexer-service-rs:/usr/local/bin/indexer-service-rs
    entrypoint: ["/usr/local/bin/start.sh"]
    environment:
      - RUST_BACKTRACE=1
      - RUST_LOG=debug
      - PROFILER=${PROFILER:-none}
    ports:
      - "7601:7601"
      - "7302:7300"
    networks:
      - local-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7601/"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    cap_add:
      - SYS_ADMIN
    privileged: true
    security_opt:
      - seccomp:unconfined

  tap-agent:
    image: indexer-base:latest
    container_name: tap-agent
    volumes:
      - ../target/release/indexer-tap-agent:/usr/local/bin/indexer-tap-agent
      - ./tap-agent/start.sh:/usr/local/bin/start.sh
      - ./profiling:/opt/profiling:rw
      - ./local-network/.env:/opt/.env:ro
      - ./local-network/config/local/tap-contracts.json:/opt/contracts.json:ro
      - ./local-network/config/local/horizon.json:/opt/horizon.json:ro
      - ./local-network/config/local/subgraph-service.json:/opt/subgraph-service.json:ro
      - ../migrations:/opt/migrations:ro
    entrypoint: ["/usr/local/bin/start.sh"]
    environment:
      - RUST_BACKTRACE=1
      - RUST_LOG=debug
      - PROFILER=${PROFILER:-none}
    ports:
      # to expose the metrics port
      - "7303:7300"
    networks:
      - local-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7300/metrics"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    cap_add:
      - SYS_ADMIN
    privileged: true
    security_opt:
      - seccomp:unconfined

  indexer-cli:
    build:
      context: ./indexer-cli
      dockerfile: Dockerfile
    container_name: indexer-cli
    networks:
      - local-network
    # Keep container running for docker exec
    entrypoint: ["tail", "-f", "/dev/null"]
    environment:
      - INDEXER_AGENT_ENDPOINT=${INDEXER_AGENT_ENDPOINT:-http://indexer-agent:7600}

networks:
  local-network:
    external: true
    name: local-network_default
