# You will have to change *all* the values below to match your setup.
#
# Some of the config below are global graph network values, which you can find here:
# https://github.com/graphprotocol/indexer/tree/main/docs/networks
#
# Pro tip: if you need to load some values from the environment into this config, you
# can overwrite with environment variables. For example, the following can be replaced
# by [PREFIX]_DATABASE_POSTGRESURL, where PREFIX can be `INDEXER_SERVICE` or `TAP_AGENT`:
#
# [database]
# postgres_url = "postgresql://indexer:${POSTGRES_PASSWORD}@postgres:5432/indexer_components_0"

[indexer]
indexer_address = "0x1111111111111111111111111111111111111111"
# Single operator mnemonic (for most setups)
operator_mnemonic = "celery smart tip orange scare van steel radio dragon joy alarm crane"
# For key rotation or migration, you can specify multiple mnemonics:
# operator_mnemonics = [
#     "celery smart tip orange scare van steel radio dragon joy alarm crane",
#     "previous mnemonic phrase here if you rotated keys"
# ]

[database]
# The URL of the Postgres database used for the indexer components. The same database
# that is used by the `indexer-agent`. It is expected that `indexer-agent` will create
# the necessary tables.
postgres_url = "postgres://postgres@postgres:5432/postgres"
# You can also use the following fields to specify the connection details separately.
# either use `postgres_url` or the following fields.
# host = "postgres-host"
# port = 5432
# user = "user"
# password = "pwd"
# database = "postgres"

[graph_node]
# URL to your graph-node's query endpoint
query_url = "http://graph-node:8000"
# URL to your graph-node's status endpoint
status_url = "http://graph-node:8000/graphql"

[subgraphs.network]
# Query URL for the Graph Network subgraph.
query_url = "http://example.com/network-subgraph"
# Optional, deployment to look for in the local `graph-node`, if locally indexed.
# Locally indexing the subgraph is recommended.
# NOTE: Use `query_url` or `deployment_id` only
deployment_id = "Qmaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"

[subgraphs.escrow]
# Query URL for the Escrow subgraph (v1).
query_url = "http://example.com/escrow-subgraph"
# Optional, deployment to look for in the local `graph-node`, if locally indexed.
# Locally indexing the subgraph is recommended.
# NOTE: Use `query_url` or `deployment_id` only
deployment_id = "Qmaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"

[blockchain]
# The chain ID of the network that the graph network is running on
chain_id = 1337
# Contract address of TAP's receipt aggregate voucher (RAV) verifier.
receipts_verifier_address = "0x2222222222222222222222222222222222222222"
# Horizon (V2) addresses; required when [horizon].enabled = true
# receipts_verifier_address_v2 = "0x3333333333333333333333333333333333333333"
# subgraph_service_address = "0xcf7ed3acca5a467e9e704c703e8d87f634fb0fc9"

########################################
# Specific configurations to tap-agent #
########################################

[tap.sender_aggregator_endpoints]
# Key-Value of all senders and their aggregator endpoints
0xDDE4cfFd3D9052A9cb618fC05a1Cd02be1f2F467 = "https://tap-aggregator.network.thegraph.com"
0xDD6a6f76eb36B873C1C184e8b9b9e762FE216490 = "https://tap-aggregator-arbitrum-one.graphops.xyz"

[horizon]
# Enable Horizon support and detection
# When enabled: Horizon-only operation, checks Horizon contracts via the network subgraph
# When enabled, set `blockchain.subgraph_service_address` and
# `blockchain.receipts_verifier_address_v2`
#
# When disabled: legacy compatibility mode (not supported; kept only to accept older configs)
enabled = false
