name: "Lint PR"

on:
  pull_request:

jobs:
  conventional-commits-check:
    name: Check conventional commits
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: "3.14"
      - name: Install commitizen
        run: pip install commitizen
      - name: commitizen check
        run: cz check --rev-range ${{ github.event.pull_request.base.sha }}..HEAD
