name: tests

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    container:
      image: rust:1.90-bookworm
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - run: rustup component add rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    container:
      image: rust:1.90-bookworm
    env:
      DATABASE_URL: postgres://postgres@postgres:5432
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Install libsasl2-dev
        run: apt-get update && apt-get install -y libsasl2-dev
      - name: Install protobuf compiler
        run: apt-get update && apt-get install protobuf-compiler -y
      - name: Cache dependencies
        uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # v2.7.7
        if: ${{ !startsWith(github.head_ref, 'renovate/') }}
      - name: Configure sccache
        run: |
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
        if: ${{ !startsWith(github.head_ref, 'renovate/') }}
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9
        if: ${{ !startsWith(github.head_ref, 'renovate/') }}
      - run: rustup component add clippy
      - run: cargo clippy --all-features --all-targets -- -A dead-code -D warnings

  test-and-coverage:
    name: cargo test and coverage
    runs-on: ubuntu-latest
    container:
      image: rust:1.90-bookworm
      options: --privileged -v /var/run/docker.sock:/var/run/docker.sock
    env:
      CI: true
      DOCKER_HOST: unix:///var/run/docker.sock
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Install Docker CLI and verify
        run: |
          curl -fsSL https://download.docker.com/linux/static/stable/x86_64/docker-29.2.1.tgz | tar xz --strip-components=1 -C /usr/local/bin docker/docker
          docker version
          docker ps
          docker pull postgres:15
      - name: Install libsasl2-dev
        run: apt-get update && apt-get install -y libsasl2-dev
      - name: Install protobuf compiler
        run: apt-get update && apt-get install protobuf-compiler -y
      - name: Cache dependencies
        uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # v2.7.7
        if: ${{ !startsWith(github.head_ref, 'renovate/') }}
      - name: Configure sccache
        run: |
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
        if: ${{ !startsWith(github.head_ref, 'renovate/') }}
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9
        if: ${{ !startsWith(github.head_ref, 'renovate/') }}
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Run tests and generate coverage report
        run: cargo llvm-cov test --all-features --workspace --lcov --output-path lcov.info
      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
          file: ./lcov.info

  # Cannot do with llvm-cov, see https://github.com/taiki-e/cargo-llvm-cov/issues/2
  test-docs:
    name: cargo test docs code snippets
    runs-on: ubuntu-latest
    container:
      image: rust:1.90-bookworm
      options: --privileged -v /var/run/docker.sock:/var/run/docker.sock
    env:
      DOCKER_HOST: unix:///var/run/docker.sock
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Install Docker CLI and verify
        run: |
          curl -fsSL https://download.docker.com/linux/static/stable/x86_64/docker-29.2.1.tgz | tar xz --strip-components=1 -C /usr/local/bin docker/docker
          docker version
          docker ps
          docker pull postgres:15
      - name: Install libsasl2-dev
        run: apt-get update && apt-get install -y libsasl2-dev
      - name: Install protobuf compiler
        run: apt-get update && apt-get install protobuf-compiler -y
      - name: Cache dependencies
        uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # v2.7.7
        if: ${{ !startsWith(github.head_ref, 'renovate/') }}
      - name: Configure sccache
        run: |
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
        if: ${{ !startsWith(github.head_ref, 'renovate/') }}
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9
        if: ${{ !startsWith(github.head_ref, 'renovate/') }}
      - name: Test documentation code snippets
        run: cargo test --doc --all-features --workspace
